*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
}
nav{
  position: fixed;
  display: flex;
  width: 100%;
  height: 12vh;
  align-items: flex-start;
  padding: 2vw 10.4vw;
  justify-content: space-between;
  z-index: 10;
  background-color: #111;
}

.nav-part2 {
  display: flex;
  gap: 2vw;
  align-items: flex-start;
  padding: 1vh 0;
  position: relative;
  z-index: 10;
}

.nav-part2 h4 {
  font-size: 0.73vw;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.6vw;
}

.nav-part2 h5 {
  margin-bottom: 1vw;
  overflow: hidden;
  visibility: hidden; /* Start hidden */
}

.nav-part2 h5 span {
  transform: translateY(25px);
  font-size: 0.77vw;
  font-weight: 400;
  display: inline-block;
}

#nav-bottom {
  width: 79%;
  height: 0;
  position: absolute;
  background-color: #111;
  top: 100%;
  z-index: 9;
  border-bottom: 1px solid white;
}


nav button{
  background-color: green;
  display: flex;
  align-items: center;
  padding: 12px 14px;
  border-radius: 50px;
  border: none;
  font-size: 0.85vw;
  font-weight: 700;
  text-transform: uppercase;
}
nav button svg{
  height: 0.85vw;
  margin-left: 1.4vw;
}

#page1{
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#page1 h1{
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
 line-height: 8.5vw;
}
#page1 h1 svg{
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  background-color: #0BA34E;
}
#page1 p{
  text-align: center;
  font-weight: 400;
  margin-top: 3vh; 
}
#page1-som{
  display: flex;
  align-items: center;
  justify-content: center;
}
#page1-som h4{
  font-size: 1vw;
  font-weight: 400;
  text-transform: lowercase;
  padding: 5px 12px;
  border: 1px solid #928e8e;
  border-radius: 50px;
}
#page1-som h4:nth-last-child(2){
  border: none;
}

#moving-div{
  /* background-color: red; */
  margin-top: 10vh;
  position: absolute;
  bottom: 3%;
  width: 44%;
  white-space: nowrap;
  padding: 1.2vw;
  overflow: hidden;
}
#moving-div .move{
 display: inline-block;
 animation-name: mobe;
 animation-duration: 9s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}
#moving-div .move img{
  height: 1vw;
  margin: 0 1.2vw;
}
#blur-left{
  height: 100%;
  width: 20%;
  position: absolute;
  background: linear-gradient(to right,#111,transparent);
  top: 0;
  left: 0;
  z-index: 2;
}
#blur-right{
  height: 100%;
  width: 20%;
  position: absolute;
  background: linear-gradient(to right, transparent,#111);
  top: 0;
  right: 0;
  z-index: 2;
}
@keyframes mobe {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
#page2{
  height: 100vh;
  width: 100%;
  background-color: #111;
}